useragent==0.1.1
virtualenv==20.0.10
w3lib==1.21.0
wcwidth==0.1.9
webencodings==0.5.1
websocket-client==0.57.0
websockets==8.1
Werkzeug==1.0.0
widgetsnbextension==3.5.1
wordcloud==1.6.0
yapf==0.26.0
you-get==0.4.1432
zipp==3.1.0
zope.interface==5.1.0
